<ng-container>
  <body class="footer">
    <img src="assets/icons/logo.svg" alt="woosh-logo" class="logo">
    <a href="https://www.linkedin.com/company/wooshagency/">
      <img src="assets/icons/linkedIn-button.svg" alt="linkedIn-logo">
    </a>
    <a href="https://www.instagram.com/woosh.agency?igsh=MW45dGZsZ3ZsN2N3cw==">
      <img src="assets/icons/instagram-button.svg" alt="instagram-logo">
    </a>
    <a href="https://x.com/agencywoosh">
      <img src="assets/icons/x-button.svg" alt="x-logo">
    </a>
  </body>
</ng-container>
