@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #554BA1;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

p{
    max-width: 550px;
}

/* * Header y navbar */

.hide-mobile{
    display: flex;
    height: 100px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #312B61;
    z-index: 1;
}

.show-mobile{
    display: flex;
    position: fixed;
    height: 84px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #312B61;
    z-index: 1;
}

.btn-menu{
    display: none;
}

.btn-menu-active{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.btn-close-active{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.icon-menu{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.slide-menu-wrap {
    position: absolute;
    top: 84px;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.slide-menu-wrap-active {
    position: absolute;
    top: 84px;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.slide-menu{
    background-color: #312B61;
    height: fit-content;
    width: auto;
}

.menu-list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: #FCEADC;
    list-style: none;
    padding-bottom: 20px;
}

.menu-list li{
    margin: 30px;
}

.btn-close{
    display: none;
}

.icon-close{
    height: 22px;
    width: 22px;
    margin-right: 24px;
}

.logo{
    height: 70px;
    width: 140px;
}

.logo-hm{
    position: relative;
    width: 30%;
    left: 40px;
} 

.logo-sm{
    position: relative;
    margin-left: 20px;
    width: auto;
    text-align: center;
    left: auto;
}

.h-nav{
    width: 70%;
    display: flex;
    align-items: center;
}

.h-nav-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

a {
    font-family: 'Merriweather';
    font-weight: 700;
    text-decoration: none;
    color: #FCEADC;
}

/* * Cuerpo de la página */

/* * Mensaje + Call to Action + Botón */

main{
    display: flex;
    flex-direction: column;
}

.motto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #554BA1;
    height: 500px;
    width: 100vw;
}

.motto h2{
    font-size: 50px;
}

h2, h3{
    color: #FCEADC;
    text-align: center;
}

h2{
    font-family: 'Merriweather';
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 30px;
}

.motto h3{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(143,140,195, 0.5);
}

h3{
    font-family: 'Quicksand';
    font-size: 20px;
}

h3 img{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin: 0 20px;
}

.btn-contact{
    border-radius: 10px;
    background-color: #FA4B22;
    color: #FCEADC;
    font-family: 'Quicksand';
    border: none;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 180px;
    cursor: pointer;
}

/* * Beneficios */ 

.benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #FCEADC;
    border-radius: 20px 20px 0 0;
    padding-bottom: 30px;
    margin-bottom: -20px;
}

.benefits .b-sparkle{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 20px 20px;
}

.benefits h2{
    padding: 0;
    font-size: 40px;
    margin: 10px 30px 10px 30px;
    color: #1D1918;
}

.benefits h3{
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 28px;
    margin: 10px 30px 10px 30px;
    color: #1D1918;
}

.benefits p{
    font-family: 'Quicksand';
    color: #1D1918;
    text-align: center;
    margin: 10px 30px 10px 30px;
}

.benefits img{
    margin-top: 20px;
}

.btn-prices{
    border-radius: 10px;
    background-color: #FA4B22;
    color: #FCEADC;
    font-family: 'Quicksand';
    border: none;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 180px;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}

/* * Cómo lo hacemos */

.metods{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #1D1918;
    border-radius: 20px 20px 0 0;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.metods h2{
    font-size: 40px;
    padding: 0;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
}

.metods h3{
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 28px;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
}

.metods p{
    font-family: 'Quicksand';
    color: #FCEADC;
    text-align: center;
    margin: 10px 30px 10px 30px;
}

.metods img{
    margin-top: 20px;
}

.metods .m-sparkle{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 20px 20px;
}

/* * Planes */

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #1D1918;
    border-radius: 20px 20px 0 0;
}

.plans h2{
    font-size: 40px;
    padding: 0;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
}

.plans .plan-name, .plan-price{
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 25px;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
    text-align: left;
}

.plans .plan-price{
    font-size: 35px;
}

.plans-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.plans ul{
    font-family: 'Merriweather';
    font-weight: 500;
    font-size: 22px;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
    text-align: left;
    padding: 0;
}

.plans li{
    list-style: none;
}

.plans p{
    font-family: 'Quicksand';
    color:#FCEADC;
}

.plan-contact{
    border-radius: 10px;
    background-color: #1D1918;
    color: #FCEADC;
    font-family: 'Quicksand';
    border: none;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    width: 180px;
    cursor: pointer;
    margin: 10px;
    align-self: center;
}

.plan-card{
    position: relative;
    display: flex;
    min-width: 300px;
    max-height: 800px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #464646;
    background: linear-gradient(135deg, #8F8CC3, #48475c);
}

/* * Contacto */

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #1D1918;
    padding-bottom: 40px;
    margin-bottom: -20px;
}

.form{
    min-width: 600px;
}

.contact-form .m-sparkle{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 20px 20px;
}

.contact-form h3{
    font-size: 25px;
    padding: 0;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
}

.contact-form h2{
    font-size: 40px;
    padding: 0;
    margin: 10px 30px 10px 30px;
    color: #FCEADC;
}

.contact-form a{
    font-family: 'Quicksand';
    font-size: 20px;
    padding: 0;
    margin: 10px 30px 10px 30px;
    color: #FA4B22;
}

.contact-form .select{
    min-width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border: solid 2px #737373;
    font-family: 'Quicksand';
    font-size: 20px;
    color: #1D1918;
    background-color: #FCEADC;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
.select:focus {
    outline: none;
    border-color: #737373;
}
  
.select option {
    padding: 5px;
    margin: 0;
    border: none;
    font-size: 16px;
    color: #1D1918;
    background-color: #FCEADC;
}
  
.select option:hover {
    background-color: #FCEADC;
}
  
.select option:selected {
    background-color: #FCEADC;
}

.contact-form form, input{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand';
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form input, textarea{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FCEADC;
    color: #1D1918;
    outline: none;
    border: solid 2px #737373;
    border-radius: 10px;
}

.contact-form textarea{
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
    height: 200px;
}

.contact-form label{
    margin: 5px 0px 5px 0px;
    font-size: 24px;
    color: #FCEADC;
}

.contact-form #btn{
    align-self: center;
    justify-self: center;
    font-family: 'Quicksand';
    font-weight: bold;
    border: none;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #FA4B22;
    color: #FCEADC;
}

.contact-form #btn:hover{
    background-color: #F98228;
}

.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #FCEADC;
    border-radius: 20px 20px 0 0;
}

.FAQ h2{
    font-size: 40px;
    padding: 0;
    margin: 10px 30px 10px 30px;
    color: #312B61;
}

@media screen and (min-width: 1em) and (max-width: 39.99em){
    .hide-mobile{
        display: none;
    }
    .motto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #554BA1;
        height: 600px;
        width: 100vw;
        margin-bottom: 50px;
        margin-top: 90px;
    }
    .motto h3{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 280px;
        min-height: 50px;
        border-radius: 50px;
        background-color: rgb(143,140,195, 0.5);
    }
    .plans-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .form{
        min-width: 330px;
    }
    .contact-form .select{
        min-width: 330px;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.99em){
    .hide-mobile{
        display: none;
    }
    .motto{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
        background-color: #554BA1;
        height: 500px;
        width: 100vw;
        margin-top: 90px;
    }
    .motto h3{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 60px;
        border-radius: 50px;
        background-color: rgb(143,140,195, 0.5);
    }
    .plans-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .form{
        min-width: 430px;
    }
    .contact-form .select{
        min-width: 430px;
    }
}
  
@media screen and (min-width: 64em) and (max-width: 74.9em){
    .show-mobile{
        display: none;
    }
    .slide-menu-wrap {
        display: none;
    }
    .plans-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
  
@media screen and (min-width: 75em){
    .show-mobile{
        display: none;
    }
    .slide-menu-wrap {
        display: none;
    }
    .plans-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

::-webkit-scrollbar {
    display: none;
}