.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 23px;
}

.services-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2 {
  align-self: start;
  color: var(--color-warm-black);
  font-weight: bold;
  font-size: 32px;
  font-family: Merriweather, sans-serif;
  margin: 0;
}

.service {

  .service-description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 36px;
      font-weight: bold;
      font-family: Merriweather Sans, sans-serif;
      color: var(--color-warm-black);
      text-align: left;
      margin: 0;
    }

    p {
      margin: 0 0 30px 0;
      color: var(--color-warm-black);
      font-size: 20px;
      font-family: Quicksand, sans-serif;
    }
  }

  .services-table {
    width: 100%;
    min-width: 305px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    column-gap: 10px;

    .services-table-column {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    p {
      margin: 0;
      color: var(--color-warm-black);
      font-size: 20px;
      font-family: Merriweather Sans, sans-serif;
      font-weight: 400;
    }

  }

}

.divider {
  width: 100%;
  border: none;
  height: 2px;
  background-color: var(--color-warm-black);
  margin: 0;
}

.contact-us-btn {
  font-family: Merriweather, sans-serif;
  background-color: var(--color-warm-black);
  color: var(--color-white);
  font-weight: bolder;
  font-size: 24px;
  width: 198px;
  height: 46px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(49, 43, 97, 0.15);
}

:host {
  display: block;
  width: 100%;
}

#services {
  scroll-margin-top: 80px;
}

/*.expansion-panel {
  --mat-expansion-container-background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 2px #1D1918 solid;
  border-radius: 0;

  .panel-header {
    padding: 0 !important;
  }

  .panel-title {
    font-family: Merriweather Sans, sans-serif;
    color: var(--color-warm-black);
    font-size: 24px;
    font-weight: bold;
    margin: 0 !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }

}

::ng-deep .mat-expansion-indicator {
  display: none; !* Oculta la flecha por defecto *!
}

.panel-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}*/

@media (min-width: 1080px) {

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 0 23px;
  }

  .services-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  h2 {
    align-self: center;
    color: var(--color-warm-black);
    font-weight: bold;
    font-size: 48px;
    font-family: Merriweather, sans-serif;
    margin: 0;
  }

  .service {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .service-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-size: 36px;
        font-weight: bold;
        font-family: Merriweather Sans, sans-serif;
        color: var(--color-warm-black);
        text-align: left;
        margin: 0;
      }

      p {
        width: 75%;
        margin: 0 0 30px 0;
        color: var(--color-warm-black);
        font-size: 24px;
        font-family: Quicksand, sans-serif;
      }
    }

    .services-table {
      width: 50%;
      display: flex;
      flex-direction: column; /* Dos columnas iguales */
      gap: 10px;
      padding: 0 100px;

      .services-table-column {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      p {
        margin: 0;
        color: var(--color-warm-black);
        font-size: 24px;
        font-family: Merriweather Sans, sans-serif;
        font-weight: 400;
      }

    }

  }

  .divider {
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--color-warm-black);
    margin: 0;
  }

  .contact-us-btn {
    font-family: Merriweather, sans-serif;
    background-color: var(--color-warm-black);
    color: var(--color-white);
    font-weight: bolder;
    font-size: 26px;
    width: 214px;
    height: 65px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(49, 43, 97, 0.15);
  }

  :host {
    display: block;
    width: 100%;
  }

  #services {
    scroll-margin-top: 140px;
  }

}
