<ng-container>
  <section class="services" id="services">
    <h2>Nuestros servicios</h2>
    <div class="services-content">
      <mat-expansion-panel class="expansion-panel" #panel1="matExpansionPanel">
        <mat-expansion-panel-header class="panel-header">
          <img
            [src]="panel1.expanded ? 'assets/icons/arrow-up.svg' : 'assets/icons/arrow-down.svg'"
            class="custom-expand-button" [alt]="panel1.expanded ? 'Flecha hacia arriba para encoger' : 'Flecha hacia abajo para expandir'">
          <mat-panel-title class="panel-title">
            Diseño
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body">
          <div class="services-table">
            <div class="service-item">Diseño Web</div>
            <div class="service-item">Diseño UX/UI</div>
            <div class="service-item">Sistema de diseño</div>
            <div class="service-item">Diseño de Apps</div>
            <div class="service-item">Iconografía</div>
            <div class="service-item">Research</div>
            <div class="service-item">Prototipado</div>
            <div class="service-item">Análisis competitivo</div>
          </div>
          <div class="prices">
            <a href="#" class="prices-link">Ver Precios</a>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #panel2="matExpansionPanel">
        <mat-expansion-panel-header class="panel-header">
          <img
            [src]="panel2.expanded ? 'assets/icons/arrow-up.svg' : 'assets/icons/arrow-down.svg'"
            class="custom-expand-button" [alt]="panel1.expanded ? 'Flecha hacia arriba para encoger' : 'Flecha hacia abajo para expandir'">
          <mat-panel-title class="panel-title">
            Branding
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body">
          <div class="services-table">
            <div class="service-item">Diseño Web</div>
            <div class="service-item">Diseño UX/UI</div>
            <div class="service-item">Sistema de diseño</div>
            <div class="service-item">Diseño de Apps</div>
            <div class="service-item">Iconografía</div>
            <div class="service-item">Research</div>
            <div class="service-item">Prototipado</div>
            <div class="service-item">Análisis competitivo</div>
          </div>
          <div class="prices">
            <a href="#" class="prices-link">Ver Precios</a>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #panel3="matExpansionPanel">
        <mat-expansion-panel-header class="panel-header">
          <img
            [src]="panel3.expanded ? 'assets/icons/arrow-up.svg' : 'assets/icons/arrow-down.svg'"
            class="custom-expand-button" [alt]="panel1.expanded ? 'Flecha hacia arriba para encoger' : 'Flecha hacia abajo para expandir'">
          <mat-panel-title class="panel-title">
            Desarrollo Web
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body">
          <div class="services-table">
            <div class="service-item">Diseño Web</div>
            <div class="service-item">Diseño UX/UI</div>
            <div class="service-item">Sistema de diseño</div>
            <div class="service-item">Diseño de Apps</div>
            <div class="service-item">Iconografía</div>
            <div class="service-item">Research</div>
            <div class="service-item">Prototipado</div>
            <div class="service-item">Análisis competitivo</div>
          </div>
          <div class="prices">
            <a href="#" class="prices-link">Ver Precios</a>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <button class="contact-us-btn">
      Contáctanos
    </button>
  </section>
</ng-container>
