<ng-container>
  <section class="services" id="services">
    <h2>Nuestros servicios</h2>
    <div class="services-content">
      <div class="service">
        <h3>Branding</h3>
        <p>Desarrollamos identidades que comunican qué te diferencia y por qué deberían elegirte.</p>
        <div class="services-table">
          <div class="services-table-column">
            <p class="service-item">Logo</p>
            <p class="service-item">Identidad visual</p>
            <p class="service-item">Guía de estilo</p>
            <p class="service-item">Voz y tono de marca</p>
          </div>
          <div class="services-table-column">
            <p class="service-item">Definición de público objetivo</p>
            <p class="service-item">Assets digitales</p>
            <p class="service-item">Diferenciación</p>
          </div>
        </div>
      </div>
      <hr class="divider">
      <div class="service">
        <h3>Diseño UX/UI</h3>
        <p>Diseñamos cada pantalla para facilitar conversiones y generar impacto.</p>
        <div class="services-table">
          <div class="services-table-column">
            <p class="service-item">Diseño Web</p>
            <p class="service-item">Diseño de App Research</p>
            <p class="service-item">Análisis Competitivo</p>
          </div>
          <div class="services-table-column">
            <p class="service-item">Sistema de diseño</p>
            <p class="service-item">Iconografía</p>
            <p class="service-item">Prototipado</p>
          </div>
        </div>
      </div>
      <hr class="divider">
      <div class="service">
        <h3>Desarrollo Web</h3>
        <p>Construimos productos digitales sólidos, con código confiable y una integración impecable.</p>
        <div class="services-table">
          <div class="services-table-column">
            <p>Desarrollo Front-end</p>
            <p>Desarrollo Back-end</p>
            <p>Mantenimiento y Actualización de Web</p>
          </div>
          <div class="services-table-column">
            <p>Integración con bases de datos</p>
            <p>Desarrollo de APIs</p>
          </div>
        </div>
      </div>
      <hr class="divider">
    </div>



<!--    <div class="services-content">
      <mat-expansion-panel class="expansion-panel" #panel1="matExpansionPanel">
        <mat-expansion-panel-header class="panel-header">
          <img
            [src]="panel1.expanded ? 'assets/icons/arrow-up.svg' : 'assets/icons/arrow-down.svg'"
            class="custom-expand-button" [alt]="panel1.expanded ? 'Flecha hacia arriba para encoger' : 'Flecha hacia abajo para expandir'">
          <mat-panel-title class="panel-title">
            Diseño
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body">
          <div class="services-table">
            <div class="service-item">Diseño Web</div>
            <div class="service-item">Diseño UX/UI</div>
            <div class="service-item">Sistema de diseño</div>
            <div class="service-item">Diseño de Apps</div>
            <div class="service-item">Iconografía</div>
            <div class="service-item">Research</div>
            <div class="service-item">Prototipado</div>
            <div class="service-item">Análisis competitivo</div>
          </div>
          <div class="prices">
            <a href="#" class="prices-link">Ver Precios</a>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #panel2="matExpansionPanel">
        <mat-expansion-panel-header class="panel-header">
          <img
            [src]="panel2.expanded ? 'assets/icons/arrow-up.svg' : 'assets/icons/arrow-down.svg'"
            class="custom-expand-button" [alt]="panel1.expanded ? 'Flecha hacia arriba para encoger' : 'Flecha hacia abajo para expandir'">
          <mat-panel-title class="panel-title">
            Branding
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body">
          <div class="services-table">
            <div class="service-item">Diseño Web</div>
            <div class="service-item">Diseño UX/UI</div>
            <div class="service-item">Sistema de diseño</div>
            <div class="service-item">Diseño de Apps</div>
            <div class="service-item">Iconografía</div>
            <div class="service-item">Research</div>
            <div class="service-item">Prototipado</div>
            <div class="service-item">Análisis competitivo</div>
          </div>
          <div class="prices">
            <a href="#" class="prices-link">Ver Precios</a>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #panel3="matExpansionPanel">
        <mat-expansion-panel-header class="panel-header">
          <img
            [src]="panel3.expanded ? 'assets/icons/arrow-up.svg' : 'assets/icons/arrow-down.svg'"
            class="custom-expand-button" [alt]="panel1.expanded ? 'Flecha hacia arriba para encoger' : 'Flecha hacia abajo para expandir'">
          <mat-panel-title class="panel-title">
            Desarrollo Web
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-body">
          <div class="services-table">
            <div class="service-item">Diseño Web</div>
            <div class="service-item">Diseño UX/UI</div>
            <div class="service-item">Sistema de diseño</div>
            <div class="service-item">Diseño de Apps</div>
            <div class="service-item">Iconografía</div>
            <div class="service-item">Research</div>
            <div class="service-item">Prototipado</div>
            <div class="service-item">Análisis competitivo</div>
          </div>
          <div class="prices">
            <a href="#" class="prices-link">Ver Precios</a>
          </div>
        </div>
      </mat-expansion-panel>
    </div>-->
    <button class="contact-us-btn" routerLink="/contact-page">
      Contáctanos
    </button>
  </section>
</ng-container>
