<ng-container>
  <body class="services">
    <h1>Nuestros Servicios</h1>

    <mat-expansion-panel class="expansion-panel" #panel1="matExpansionPanel">
      <mat-expansion-panel-header class="panel-header">
        <img
          [src]="panel1.expanded ? 'assets/icons/button-shrink.svg' : 'assets/icons/button-expand.svg'"
          class="custom-expand-button" alt="expand/shrink-icon">
        <mat-panel-title class="panel-title">
          Diseño UX/UI
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <div class="services-table">
          <div class="service-item">Diseño Web</div>
          <div class="service-item">Diseño UX/UI</div>
          <div class="service-item">Sistema de diseño</div>
          <div class="service-item">Diseño de Apps</div>
          <div class="service-item">Iconografía</div>
          <div class="service-item">Research</div>
          <div class="service-item">Prototipado</div>
          <div class="service-item">Análisis competitivo</div>
        </div>
        <div class="prices">
          <a href="#" class="prices-link">Ver Precios</a>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel" #panel2="matExpansionPanel">
      <mat-expansion-panel-header class="panel-header">
        <img
          [src]="panel2.expanded ? 'assets/icons/button-shrink.svg' : 'assets/icons/button-expand.svg'"
          class="custom-expand-button" alt="expand/shrink-icon">
        <mat-panel-title class="panel-title">
          Desarollo Web
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <div class="services-table">
          <div class="service-item">Diseño Web</div>
          <div class="service-item">Diseño UX/UI</div>
          <div class="service-item">Sistema de diseño</div>
          <div class="service-item">Diseño de Apps</div>
          <div class="service-item">Iconografía</div>
          <div class="service-item">Research</div>
          <div class="service-item">Prototipado</div>
          <div class="service-item">Análisis competitivo</div>
        </div>
        <div class="prices">
          <a href="#" class="prices-link">Ver Precios</a>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel" #panel3="matExpansionPanel">
      <mat-expansion-panel-header class="panel-header">
        <img
          [src]="panel3.expanded ? 'assets/icons/button-shrink.svg' : 'assets/icons/button-expand.svg'"
          class="custom-expand-button" alt="expand/shrink-icon">
        <mat-panel-title class="panel-title">
          Diseño Gráfico
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <div class="services-table">
          <div class="service-item">Diseño Web</div>
          <div class="service-item">Diseño UX/UI</div>
          <div class="service-item">Sistema de diseño</div>
          <div class="service-item">Diseño de Apps</div>
          <div class="service-item">Iconografía</div>
          <div class="service-item">Research</div>
          <div class="service-item">Prototipado</div>
          <div class="service-item">Análisis competitivo</div>
        </div>
        <div class="prices">
          <a href="#" class="prices-link">Ver Precios</a>
        </div>
      </div>
    </mat-expansion-panel>
  </body>
</ng-container>
