section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;
}

.projects-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    align-self: start;
    color: var(--color-warm-black);
    font-weight: bold;
    font-size: 32px;
    font-family: Merriweather, sans-serif;
    margin: 0;
  }

}

.btn-more {
  align-self: center;
  width: 14em;
  border: solid 2px var(--color-warm-black);
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-warm-black);
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 24px;
}

:host {
  display: block;
  width: 100%;
}

#projects {
  scroll-margin-top: 80px;
}
