section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;
}

.projects-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    align-self: start;
    color: var(--color-warm-black);
    font-weight: bold;
    font-size: 32px;
    font-family: Merriweather, sans-serif;
    margin: 0;
  }

  .cards-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}

.btn-more {
  align-self: center;
  width: 14em;
  border: solid 2px var(--color-warm-black);
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-warm-black);
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;
}

:host {
  display: block;
  width: 100%;
}

#projects {
  scroll-margin-top: 80px;
}

@media (min-width: 1080px) {

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .projects-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;

    h2 {
      align-self: center;
      font-size: 48px;
    }

    .cards-section{
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

  }

  .btn-more {
    width: 13em;
    font-size: 24px;
  }

  #projects {
    scroll-margin-top: 140px;
  }

}
