<ng-container>
  <section class="projects" id="projects">
    <div class="projects-content">
      <h2>Casos de éxito</h2>
      <div class="cards-section">
        <app-card
          [imageUrl]="'assets/images/WF1.png'"
          [title]="'Wavefront'"
          [description]="'Haciendo una UI amigable para un token launchpad en Web3.'"
          [tags]="['Diseño UX/UI', 'Branding']"
          [link]="'https://www.behance.net/gallery/227627665/Token-Launch-Pad-Redesign-UXUI-Brand-Identity'"
        ></app-card>
        <app-card
          [imageUrl]="'assets/images/GL1.png'"
          [title]="'Gumball Labs'"
          [description]="'Diseñando una landing page con identidad visual consistente para blockchain lab.'"
          [tags]="['Diseño UX/UI', 'Branding']"
          [link]="'https://www.behance.net/gallery/227627185/Landing-Page-Design-UXUI-Brand-Identity-Case-Study'"
        ></app-card>
        <app-card
          [imageUrl]="'assets/images/IK1.png'"
          [title]="'Instant Karma'"
          [description]="'Diseñando una identidad de marca y landing page impactantes.'"
          [tags]="['Diseño UX/UI', 'Branding']"
          [link]="'https://www.behance.net/gallery/228098207/Instant-Karma-UXUI-Brand-Identity-Case-Study'"
        ></app-card>
      </div>
      <button class="btn-more" (click)="openLink()">Ver más en Behance</button>
    </div>
  </section>
</ng-container>
