<ng-container>
  <section class="next-level" id="next-level">
    <div class="next-level-content">
      <h3>¿Listo para llevar tu proyecto al siguiente nivel?</h3>
      <p>Ya sea que estés empezando o buscando optimizar lo que ya tienes, trabajamos contigo para crear soluciones digitales que hacen la diferencia. Cuéntanos qué necesitas y demos el primer paso juntos.</p>
      <button class="contact-us-btn" routerLink="/contact-page" (click)="handleContactBtn()">
        Contáctanos
      </button>
    </div>
  </section>
</ng-container>
