.next-level{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 23px;
}

.next-level-content {
  border-radius: 20px;
  background-color: var(--color-warm-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 10px;

  h3{
    font-family: Merriweather Sans, sans-serif;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  p{
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    color: var(--color-white);
    font-size: 20px;
    margin: 0;
  }

  .contact-us-btn {
    font-family: Merriweather, sans-serif;
    background-color: var(--color-deep-purple);
    color: var(--color-white);
    font-weight: bolder;
    font-size: 24px;
    width: 198px;
    height: 46px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(49, 43, 97, 0.15);
  }

}
