<ng-container>
  <section class="approach" id="approach">
    <div class="approach-content">
      <h2>Nuestro enfoque</h2>
      <div class="block">
        <img src="assets/icons/rocket.svg" alt="rocket">
        <h3>Darás el salto digital</h3>
        <p>Traerás tu negocio al mundo digital y llegarás a muchas más personas.</p>
      </div>
      <hr class="divider">
      <div class="block">
        <img src="assets/icons/star.svg" alt="star">
        <h3>Optimizarás tu página</h3>
        <p>Harás de tu proyecto la mejor experiencia digital para tus clientes.</p>
      </div>
      <hr class="divider">
      <div class="block">
        <img src="assets/icons/stockChart.svg" alt="stock-chart">
        <h3>Aumentarás la conversión</h3>
        <p>Transformarás a los visitantes de tu página web en nuevos clientes.</p>
      </div>
    </div>
  </section>
</ng-container>
