<ng-container>
  <section class="approach" id="approach">
    <div class="approach-content">
      <div class="approach-content-title">
        <h2>Nuestro enfoque</h2>
        <p> No solo entregamos productos digitales, construimos soluciones que responden a objetivos reales. Esto es lo que traemos a la mesa:</p>
      </div>
      <div class="approach-content-blocks">
        <div class="block">
          <!--<img src="assets/icons/rocket.svg" alt="rocket">-->
          <h3>Estrategia personalizada</h3>
          <p>No aplicamos fórmulas. Escuchamos a cada cliente, entendemos su contexto y diseñamos una solución hecha a medida, con visión de largo plazo.</p>
        </div>
        <hr class="divider">
        <div class="block">
          <!--<img src="assets/icons/star.svg" alt="star">-->
          <h3>Usuario en el Centro</h3>
          <p>Diseñamos para personas. Nuestro enfoque UX prioriza la claridad, la accesibilidad y la satisfacción de quien realmente importa: tu audiencia.</p>
        </div>
        <hr class="divider">
        <div class="block">
          <!--<img src="assets/icons/stockChart.svg" alt="stock-chart">-->
          <h3>Diseño que Eleva</h3>
          <p>No solo se ve bien: se siente bien. Creamos productos con una estética cuidada y coherente, pensados para destacar y durar</p>
        </div>
        <hr class="divider">
        <div class="block">
          <!--<img src="assets/icons/stockChart.svg" alt="stock-chart">-->
          <h3>Entrega Ágil y Fiable</h3>
          <p>Valoramos tu tiempo tanto como el nuestro. Trabajamos con procesos ágiles para entregar a tiempo, sin comprometer la calidad.</p>
        </div>
      </div>
    </div>
  </section>
</ng-container>
