.approach{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 23px;
}

.approach-content {
  border-radius: 20px;
  background-color: rgba(143, 140, 195, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 16px;

  .approach-content-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }

  h3{
    font-family: Merriweather Sans, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .approach-content-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .block{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  p{
    text-align: left;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    color: var(--color-warm-black);
    font-size: 20px;
    margin: 0;
  }

  .divider {
    align-self: center;
    width: 110px;
    border: none;
    height: 1px;
    background-color: var(--color-warm-black);
    margin: 0;
  }

}

#approach {
  scroll-margin-top: 80px;
}

@media (min-width: 1080px) {

  .approach{
    width: 100%;
    padding: 0;
  }

  .approach-content {
    border-radius: 20px;
    background-color: rgba(143, 140, 195, 0.2);
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 60px 30px;

    .approach-content-title {
      gap: 20px;
      align-self: center;
      min-width: 400px;
    }

    h2 {
      font-size: 48px;
    }

    h3{
      font-size: 24px;
    }

    .approach-content-blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 40px;
    }

    p{
      font-size: 24px;
    }

    .divider {
      display: none;
    }

  }

}
