<div class="display">
  <div class="display-content content1">
    <p>Branding</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Development</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Web Design</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>App Design</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Product Design</p>
  </div>
  <div aria-hidden="true" class="display-content content2">
    <p>Branding</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Development</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Web Design</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>App Design</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Product Design</p>
  </div>
  <div aria-hidden="true" class="display-content content3">
    <p>Branding</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Development</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Web Design</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>App Design</p><img src="assets/icons/display-sparkle.svg" alt="sparkle"><p>Product Design</p>
  </div>
</div>
