<ng-container>
  <body class="achievements">
    <h1>¿Qué lograrás?</h1>
    <div class="mat-card">
      <img src="assets/icons/rocket.svg" alt="rocket">
      <h2>Darás el salto digital</h2>
      <p>Traerás tu negocio al mundo digital y llegarás a muchas más personas.</p>
    </div>
    <div class="mat-card">
      <img src="assets/icons/star.svg" alt="star">
      <h2>Optimizarás tu página</h2>
      <p>Harás de tu proyecto la mejor experiencia digital para tus clientes.</p>
    </div>
    <div class="mat-card">
      <img src="assets/icons/stockChart.svg" alt="stock-chart">
      <h2>Aumentarás la conversión</h2>
      <p>Transformarás a los visitantes de tu página web en nuevos clientes.</p>
    </div>
  </body>
</ng-container>
