.achievements{
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h1, h2{
  color: var(--color-warm-black);
  font-weight: bold;
}

h1{
  font-size: 32px;
  font-family: Merriweather, sans-serif;
  margin: 0;
}


.mat-card{
  height: 156px;
  width: 316px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 8px 8px 16px;
  img {
    height: 42px;
    width: 42px;
  }
}

h2{
  font-size: 24px;
  margin: 0;
}

p{
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-weight: normal;
  color: var(--color-warm-black);
  font-size: 16px;
  margin: 0;
}
