<div class="display">
  <div class="display-content content1">
    Branding <img src="assets/icons/display-sparkle.svg" alt="sparkle"> Development <img src="assets/icons/display-sparkle.svg" alt="sparkle"> Web & App Design <img src="assets/icons/display-sparkle.svg" alt="sparkle"> Product Design
  </div>
  <div aria-hidden="true" class="display-content content2">
  Branding <img src="assets/icons/display-sparkle.svg" alt="sparkle"> Development <img src="assets/icons/display-sparkle.svg" alt="sparkle"> Web & App Design <img src="assets/icons/display-sparkle.svg" alt="sparkle"> Product Design
  </div>
</div>
