.display {
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  height: 44px;
  overflow: hidden; /* Oculta el texto que sale del área visible */
  background-color: var(--color-warm-black);
  color: var(--color-cream);
  padding: 12px 16px;
  box-sizing: border-box;
  position: relative;

  .display-content {
    left: 100%;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: fit-content;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    will-change: transform;
    animation: display 10s infinite linear; /* Define la animación */
  }

  .content1 {
    animation-delay: calc(10s / 2 * (2 - 1) * -1);
  }

  .content2 {
    animation-delay: calc(10s / 2 * (2 - 2) * -1);;
  }

  img {
    margin: 0 8px;
  }
}

/* Animación de desplazamiento */
@keyframes display {
  to {
    left: -250%; /* Termina fuera del contenedor (izquierda) */
  }
}
