.content{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding-bottom: 23px;
}

.us {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 23px;

  h2 {
    color: var(--color-warm-black);
    font-weight: bold;
    font-size: 36px;
    font-family: Merriweather, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
  }

  span {
    font-style: italic;
    color: var(--color-deep-purple);
    font-weight: bolder;
  }

  p {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    margin: 0;
  }

}

.workspace {
  margin-top: -2px;
  width: 100%;
}

#us {
  scroll-margin-top: 80px;
}

@media (min-width: 1080px) {

  .content {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
    padding: 90px 100px;
  }

  .somos-woosh {
    display: flex;
    flex-direction: row;
    gap: 100px;

    .workspace {
      height: 492px;
      max-width: 550px;
      margin: 0;
      border-radius: 20px;
    }

    .us {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      padding: 0;

      h2 {
        color: var(--color-warm-black);
        font-weight: bold;
        font-size: 48px;
        font-family: Merriweather, sans-serif;
        margin-top: 0;
        margin-bottom: 20px;
      }

      span {
        font-style: italic;
        color: var(--color-deep-purple);
        font-weight: bolder;
      }

      p {
        font-family: Quicksand, sans-serif;
        font-size: 24px;
        margin: 0;
      }

    }
  }

  #us {
    scroll-margin-top: 180px;
  }

}
