<ng-container>
  <section id="content" class="content">

    <img src="assets/images/workspace.png" alt="Compañeros trabajando alrededor de un escritorio" class="workspace">
    <div id="us" class="us">
      <h2>Somos <span style="font-style: italic">Woosh</span></h2>
      <p>No somos una agencia más. Somos el equipo que piensa, diseña y construye a conciencia. Aliados de quines quieren hacer las cosas bien, desde el branding hasta la última línea de código. Directos, estratégicos y obsesionados con el detalle.</p>
    </div>

    <app-approach></app-approach>

    <app-our-services></app-our-services>

    <app-projects></app-projects>

    <app-next-level></app-next-level>

    <app-faq></app-faq>
  </section>
</ng-container>
