<ng-container>
  <body class="content">

    <img src="assets/images/workspace.png" alt="Compañeros trabajando alrededor de un escritorio" class="workspace">
    <div class="us">
      <h2>Somos <span style="font-style: italic">Woosh</span></h2>
      <p>Woosh es una agencia enfocada en el diseño y desarrollo de marcas, productos, webbs y apps para startups y
        empresas</p>
    </div>

    <app-approach></app-approach>

    <app-our-services></app-our-services>

    <app-projects></app-projects>

    <app-faq></app-faq>
  </body>
</ng-container>
