<ng-container>
  <section id="home" class="home">
    <div class="home-title">
      <div class="home-title-wrapper">
        <img src="assets/icons/big-splash.svg" alt="Mancha naranja" class="orange-splash">
        <h1>Eleva tu marca con apps y webs <span class="italic">que impactan</span></h1>
        <img src="assets/icons/big-sparkle.svg" alt="Estrella morada" class="purple-sparkle">
      </div>
      <div class="home-text">
        <img src="assets/images/laptop.png" alt="Mano con reloj tecleando en una laptop" class="pictures">
        <p>Diseñamos y desarrollamos marcas, productos, webs y apps para startups y empresas.</p>
      </div>
    </div>
    <button class="contact-us-btn" routerLink="/contact-page">
      Contáctanos
    </button>
  </section>
</ng-container>
