.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url("/assets/images/background-waves.svg");
  background-repeat: no-repeat;
  padding: 180px 24px 124px 24px;
}

p{
  font-family: Quicksand, sans-serif;
}

h1, p{
  color: var(--color-cream);
}

.home-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  min-width: 314px;

  h1 {
    font-family: Merriweather Sans, sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0;

    .italic{
      font-family: Merriweather, sans-serif;
      font-style: italic;
      font-weight: 900;
    }

  }

  p{
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }

}

.contact-us-btn{
  font-family: Merriweather Sans, sans-serif;
  background-color: var(--color-burnt-orange);
  color: var(--color-cream);
  font-weight: bolder;
  font-size: 24px;
  width: 198px;
  height: 46px;
  border-radius: 10px;
  border: none;
}
