/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 360px;
  font-family: Merriweather, sans-serif;
}

/*CONSTANTES GLOBALES*/
:root{
  --color-deep-purple: #554BA1;
  --color-cream: #FCEADC;
  --color-midnight: #312B61;
  --color-warm-black: #1D1918;
  --color-coral-red: #FA4B22;
  --color-burnt-orange: #F98228;
  --color-white: #F1F1F1;
}

.bold{
  font-weight: bold;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
