.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-midnight);
  padding: 20px 16px;
  gap: 20px;
}

.option-list ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.option-list ul li a {
  color: var(--color-cream);
  text-decoration: none;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
}

.logo {
  fill: var(--color-cream);
}

.social-networks {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
