<ng-container>
  <section id="content" class="content">
    <div class="content-title">
      <h2>¿Trabajamos juntos?</h2>
      <p>Hablemos. Cuéntanos un poco sobre ti.</p>
    </div>
    <form class="content-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <label for="name">Nombre y apellido*</label>
      <input id="name" required type="text" formControlName="name" placeholder="María López"/>
      <p *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')" class="error-text">
        Tienes que completar el nombre
      </p>

      <!-- Email -->
      <label for="email">Email*</label>
      <input id="email" required type="email" formControlName="email" placeholder="nombre@ejemplo.com"/>
      <p *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')" class="error-text">
        Tienes que completar el correo electrónico
      </p>
      <p *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')" class="error-text">
        Ingresa un correo válido
      </p>

      <!-- Teléfono -->
      <label for="phone">Teléfono de contacto*</label>
      <input id="phone" required type="text" formControlName="phone" pattern="\d*" placeholder="Escribe tu número acá"/>
      <p *ngIf="form.get('phone')?.touched && form.get('phone')?.hasError('required')" class="error-text">
        Tienes que completar el teléfono
      </p>
      <p *ngIf="form.get('phone')?.dirty && form.get('phone')?.hasError('pattern')" class="error-text">
        Solo se permiten números
      </p>

      <!-- Servicios -->
      <label for="services-chips">¿Qué servicios necesitas?*</label>
      <p>Elige tantas opciones como desees</p>
      <div id="services-chips" class="chips">
        <button type="button"
                *ngFor="let service of services"
                [class.active]="form.value.services.includes(service)"
                (click)="toggleArrayValue('services', service)">
          {{ service }}
        </button>
      </div>
      <p *ngIf="form.get('services')?.touched && form.get('services')?.hasError('required')" class="error-text">
        Debes seleccionar al menos un servicio
      </p>

      <!-- Presupuesto -->
      <label for="budget-chips">¿Cuál es tu presupuesto?*</label>
      <p>Valores expresados en USD</p>
      <div id="budget-chips" class="chips">
        <button type="button"
                *ngFor="let range of budget"
                [class.active]="form.value.budget === range"
                (click)="form.get('budget')?.setValue(range)">
          {{ range }}
        </button>
      </div>
      <p *ngIf="form.get('budget')?.touched && form.get('budget')?.hasError('required')" class="error-text">
        Debes seleccionar un presupuesto estimado
      </p>

      <!-- Nombre Proyecto -->
      <label for="project-name">¿Cómo se llama tu proyecto?</label>
      <input id="project-name" type="text" formControlName="projectName" placeholder="Escribe tu respuesta acá"/>

      <!-- Descripción -->
      <label for="project-info">Háblanos de tu proyecto*</label>
      <textarea id="project-info"
                formControlName="description"
                placeholder="Descripción del proyecto, público objetivo, etc."
                maxlength="500">
      </textarea>
      <p *ngIf="form.get('description')?.touched && form.get('description')?.hasError('required')" class="error-text">
        Debes escribir al menos una breve descripción del proyecto
      </p>

      <!-- ¿Cómo nos conociste? -->
      <label for="reference">¿Cómo nos conociste?*</label>
      <p>Elige tantas opciones como desees</p>
      <div id="reference" class="chips">
        <button type="button"
                *ngFor="let reference of references"
                [class.active]="form.value.references.includes(reference)"
                (click)="toggleArrayValue('references', reference)">
          {{ reference }}
        </button>
        <!-- Textarea para "Otro" -->
        <textarea *ngIf="showOtherReference" id="other-reference"
                  formControlName="otherReference"
                  placeholder="¿Cómo nos conociste?"
                  maxlength="140"
                  style="width: 100%;">
        </textarea>
      </div>
      <p *ngIf="form.get('references')?.touched && form.get('references')?.hasError('required')" class="error-text">
        Indica cómo llegaste a nosotros
      </p>

      <div class="recaptcha">
        <re-captcha
          formControlName="recaptchaToken"
          siteKey="6LcpbokrAAAAABi2xxhta0zoVrfYvvaE1_24Dasr"
          (resolved)="onCaptchaResolved($event)">
        </re-captcha>
      </div>

      <!-- Botón Enviar -->
      <button type="submit">Agendar reunión</button>
    </form>
    <div class="content-email">
      <div class="sparkling-text">
        <img src="assets/icons/stars.svg" alt="stars" class="star">
        <h2>O escríbenos por mail</h2>
        <img src="assets/icons/stars.svg" alt="stars" class="star2">
      </div>
      <div class="email">
        <a #emailRef href="mailto:wooshdesignanddev@gmail.com">wooshdesignanddev@gmail.com</a>
        <img src="assets/icons/tabler_copy.svg" alt="copy" class="copy-icon" (click)="copyEmail(emailRef)">
      </div>
    </div>
  </section>
</ng-container>
