<ng-container>
  <section id="content" class="content">
    <div class="content-title">
      <h2>¿Trabajamos juntos?</h2>
      <p>Hablemos. Cuéntanos un poco sobre ti.</p>
    </div>
    <form class="content-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <label for="name">Nombre y apellido*</label>
      <input id="name" type="text" formControlName="name" placeholder="María López"/>

      <!-- Email -->
      <label for="email">Email*</label>
      <input id="email" type="email" formControlName="email" placeholder="nombre@ejemplo.com"/>

      <!-- Teléfono -->
      <label for="phone">Teléfono de contacto*</label>
      <input id="phone" type="text" formControlName="phone" placeholder="Escribe tu número acá"/>

      <!-- Servicios -->
      <label for="services-chips">¿Qué servicios necesitas?*</label>
      <p>Elige tantas opciones como desees</p>
      <div id="services-chips" class="chips">
        <button type="button"
                *ngFor="let s of services"
                [class.active]="form.value.services.includes(s)"
                (click)="toggleArrayValue('services', s)">
          {{ s }}
        </button>
      </div>

      <!-- Presupuesto -->
      <label for="budget-chips">¿Cuál es tu presupuesto?*</label>
      <p>Valores expresados en USD</p>
      <div id="budget-chips" class="chips">
        <button type="button"
                *ngFor="let p of budget"
                [class.active]="form.value.budget === p"
                (click)="form.get('budget')?.setValue(p)">
          {{ p }}
        </button>
      </div>

      <!-- Nombre Proyecto -->
      <label for="project-name">¿Cómo se llama tu proyecto?</label>
      <input id="project-name" type="text" formControlName="projectName" placeholder="Escribe tu respuesta acá"/>

      <!-- Descripción -->
      <label for="project-info">Háblanos de tu proyecto*</label>
      <textarea id="project-info"
                formControlName="description"
                placeholder="Descripción del proyecto, público objetivo, etc."
                maxlength="500">
      </textarea>

      <!-- ¿Cómo nos conociste? -->
      <label for="reference">¿Cómo nos conociste?*</label>
      <p>Elige tantas opciones como desees</p>
      <div id="reference" class="chips">
        <button type="button"
                *ngFor="let f of references"
                [class.active]="form.value.references.includes(f)"
                (click)="toggleArrayValue('references', f)">
          {{ f }}
        </button>
        <!-- Textarea para "Otro" -->
        <textarea *ngIf="showOtherReference" id="other-reference"
                  formControlName="otherReference"
                  placeholder="¿Cómo nos conociste?"
                  maxlength="140"
                  style="width: 100%;">
        </textarea>
      </div>

      <!-- Botón Enviar -->
      <button type="submit">Agendar reunión</button>
    </form>
    <div class="content-email">
      <h2>O escríbenos por mail</h2>
      <a href="mailto:wooshdesignanddev@gmail.com">wooshdesignanddev@gmail.com</a>
    </div>
  </section>
</ng-container>
